@import url('https://fonts.googleapis.com/css?family=Montserrat');

.horizontal-scroll-zone {
    overflow: hidden;
}

.horizontal-scroll-wrapper {
    scrollbar-color: #49DA88 transparent;
    scrollbar-width: thin;
  margin: 5vh 0;
  overflow-x: auto;
  overflow-y: hidden;
  touch-action: pan-x;
}

.team-member {
    box-sizing: border-box;
  display: block;
  padding: 5px;
  position: relative;
    transition: 1.3s;
}

.team-member:hover img {
    filter: saturate(100%);
}

.separation {
    height: 5px;
    width: 3rem;
    background: #34DA88;
    margin: 1rem auto;
}

img {
    filter: saturate(0);
}
